header {
    min-height: 100vh;
    background: linear-gradient(rgba(46, 133, 184, 0.7), rgba(64, 150, 221, 0.7)),
        url(../images/header.jpg);

    background-position: center;
    background-size: cover;

}

/* .btn-success{
    bg-co
} */
#header {
    font-size: 3rem;
}

#email {
    height: auto;
}